#!/bin/bash
# {{ ansible_managed }}

{{ item[0].gogrepo.scripts.path }}/gogrepo_update.sh
{{ item[0].gogrepo.scripts.path }}/gogrepo_verify.sh
{{ item[0].gogrepo.scripts.path }}/gogrepo_download.sh

exit 0
