#!/bin/bash
# {{ ansible_managed }}

# `-forceverify` to verify all files regardless of previous stature.
# `-clean` moves all failed files to the `!orphaned` directory.
python2 {{ item[0].gogrepo.dest }}/gogrepoc.py verify {{ item[0].gogrepo.scripts.verify_options }} {{ item[0].gogrepo.download_dir }}

exit 0
